---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.jsx';
---

<Layout>
	<style>
		#indexMain{
			height: 100%;
			width: 100%;
		}
	</style>
	<div id="indexMain">
		<h1>Abandoned California</h1>
		<h2>Abandoned and Ghost Towns Mapped Out</h2>
		<Map client:only="react" />
	</div>
</Layout>