---
import Layout from '../layouts/Layout.astro';
import CaliMap from '../components/CaliMap';
---

<Layout>
	<div>
		<h1>This is the main page.</h1>
		<CaliMap client:only='react' />
	</div>
</Layout>